<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Кофейни</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      body {
        background-color: black;
              }
    </style>

</head>

<body>
	<div class="container">

		<div class="header" align="center">
			<br>
			<h1 style="color: #8B4513">НАЙДЕННЫЕ КОФЕЙНИ</h1>
			<br>
		</div>

		<div class="results" align="center" style="color: white">
			{{sad_news}}

		{% for place in places %}
     		{% for key,value in place.items() %}
          		<br>{{ key }} : {{ value }}</br>
     		{% endfor %}
     		<p></p>
		{% endfor %}
		</div>

		<div class="button" align="center" style="background-color: black">
        <br>
        <br>
        <br>
      	</div>

	</div>
</body>
</html>